.track {
  display: flex;
  gap: var(--chakra-space-4);
}

.media {

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {

}

.author {

}